:root {
    --main-bg-color: hsl(225, 100%, 94%); 
    
    --color-light: hsl(225, 100%, 98%);
    --color-desaturated-light: hsl(245, 75%, 52%);
    --color-neutral: hsl(231, 9%, 52%);
    --color-dark: hsl(223, 47%, 23%);

    --font-normal: 500;
    --font-bold: 700;
    --font-bolder: 900;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    font-weight: var(--font-normal);
    color: var(--color-neutral);
    background-color: var(--main-bg-color);
}

.card {
    border-radius: 1rem;
    text-align: center;
}

.card h1 {
    margin-top: 2rem;
    font-weight: var(--font-bolder);
    color: var(--color-dark);
}

@media (min-width: 375px) {
    .card {
        max-width: 25rem;
    }
}

@media (min-width: 1440px) {
    .card {
        max-width: 27rem;
        justify-content: center;
        align-items: center;
    }
    
    .card h1 {
        font-size: 2em;
    }

    .card-text {
        width: 75%;
        margin-left: 3rem;
    }
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-text {
    font-size: 1em;
    padding: 0;
}

.plan-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 1rem;
    background-color: var(--color-light);
}

.plan-type {
    font-weight: var(--font-bolder);
    color: var(--color-dark);
}

.plan-wrapper a {
    margin: 0.6rem 2rem 0 1.5rem;
    color: var(--color-desaturated-light);
}

.plan-wrapper a:hover {
    text-decoration: none;
    color: hsl(245, 83%, 68%);
}

.plan-wrapper img {
    margin: 0 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.col p {
    padding: 0;
    margin: 0 0 0 1rem;
}

.card-footer {
    background-color: #fff;
    border: none;
    margin-bottom: 2rem;
}

.card-footer button {
    width: 90%;
    height: 50%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--color-desaturated-light);
}

.card-footer button:focus, button:hover {
    text-decoration: none;
    color: #fff;
    color: hsl(245, 83%, 68%);
}

.card-footer a {
    text-decoration: none;
    color: var(--color-neutral);
}

.card-footer a:hover {
    color: var(--color-dark);
}